<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carlos.a6_dashboard" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.6DashBoard" >
        <activity
            android:name=".Musica.Detalle_Activity"
            android:exported="true"
            android:theme="@style/DetalleTheme" />
        <activity
            android:name=".Musica.Musica_Activity"
            android:exported="true"
            android:theme="@style/MusicaTheme" />
        <activity
            android:name=".Settings.Herramientas_Activity"
            android:exported="true"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".MotoGp.MotoGP_Activity"
            android:exported="true"
            android:theme="@style/MotoGpTheme" />
        <activity
            android:name=".Mapas.Mapas_Activity"
            android:exported="true"
            android:theme="@style/MapasTheme" />
        <activity
            android:name=".Galeria.Galeria_Activity"
            android:exported="true"
            android:theme="@style/GaleriaTheme" />
        <activity
            android:name=".Quizzes.Quizzes_Activity"
            android:exported="true"
            android:theme="@style/QuizzesTheme" />
        <activity
            android:name=".Quizzes.SeguirPregunta"
            android:exported="true"
            android:theme="@style/SiguienteTheme" />
        <activity
            android:name=".EdadCanina.EdadCanina_Activity"
            android:exported="true"
            android:theme="@style/PerreteTheme" />
        <activity
            android:name=".Amigos.Amigos_Activity"
            android:exported="true"
            android:theme="@style/AmigosTheme" />
        <activity
            android:name=".Calculadora.Calculadora_Activity"
            android:exported="true"
            android:theme="@style/CalculadoraTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplasActivity2"
            android:exported="true"
            android:theme="@style/Theme.7SplasApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>